@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,.hamburger-middle,.hamburger-bottom{
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle{
  transform: translateY(7px);
}
.hamburger-bottom{
  transform: translateY(14px);
}

.open{
  transform: rotate(90deg);
  transform:  translateY(0px);
}

.open .hamburger-top{
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle{
  display: none;
}

.open .hamburger-bottom{
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.astra{
  color: #fff;
  text-shadow: 0 0 10px #00b3ff,
               0 0 20px #00b3ff,
               0 0 40px #00b3ff,
               0 0 80px #00b3ff,
               0 0 120px #00b3ff;
}

.astra1{
  color: white;
  text-shadow: 0 0 10px white, 0 0 40px white;
}

.hero{
  animation: transitionIn 4s;
}

@keyframes transitionIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: pink;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.star{z-index: 0; display: block; background-color: #fff; position: absolute; border-radius: 100%; animation-timing-function: linear;animation-iteration-count: infinite;}

@keyframes move_right {
   from { transform: rotate(0deg) translateX(8px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(8px) rotate(-360deg); }
}

@keyframes move_left {
   from { transform: rotate(0deg) translateX(8px) rotate(0deg); }
    to   { transform: rotate(-360deg) translateX(8px) rotate(360deg); }
}

